<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
    <link rel="stylesheet"
          href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css"
          integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js"
            integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U"
            crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js"
            integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9"
            crossorigin="anonymous"></script>

    <title>Insurance of the future - Homepage</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#">Isurance of the future</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="mailto:info@insurance-of-the-future.com">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<header class="bg-primary py-5 mb-5">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-lg-12">
                <h1 class="display-4 text-white mt-5 mb-2">The future of insurance is now</h1>
                <p class="lead mb-5 text-white-50">We provide insurance services like no other compay.</p>
                <p class="lead mb-5 text-white-50">Use our online calculator and check our amazing rates right now!</p>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <script>

        let selectedInsuranceTypeId;
        let minValueAllowed;
        let maxValueAllowed;
        let inputProductValue;

        function validateAndCalculate() {
            inputProductValue = document.getElementById("inputProductValue").value;

            if (!isInputValueValid(minValueAllowed, maxValueAllowed, inputProductValue)) {
                return;
            }
            calculatePricing();
        }

        function isInputValueValid(min, max, value) {
            if (value < min || value > max) {
                alert("Please check the minimum and maxim allowed value for this type of insurance.")
                return false;
            }
            return true;
        }

        function calculatePricing() {
            let xmlhttp = new XMLHttpRequest();

            xmlhttp.onreadystatechange = function () {
                if (xmlhttp.readyState == XMLHttpRequest.DONE) {
                    if (xmlhttp.status == 200) {
                        document.getElementById("calculationResult").innerText = formatCalculatedValue(xmlhttp.responseText);
                    } else {
                        alert('Error while retrieving calculation value!');
                    }
                }
            };

            xmlhttp.open("GET", "/api/price-calculator/v1?serviceId=" + selectedInsuranceTypeId + "&productValue=" + inputProductValue, true);
            xmlhttp.send();
        }

        function setSelectedInsuranceType(insuranceTypeId, coverageBottomLimit, coverageTopLimit) {
            selectedInsuranceTypeId = insuranceTypeId;
            document.getElementById("spanCoverageBottomLimit").innerText = coverageBottomLimit;
            document.getElementById("inputProductValue").min = coverageBottomLimit;
            document.getElementById("spanCoverageTopLimit").innerText = coverageTopLimit;
            document.getElementById("inputProductValue").max = coverageTopLimit;

            minValueAllowed = coverageBottomLimit;
            maxValueAllowed = coverageTopLimit;
        }

        function formatCalculatedValue(calculatedValue) {
            return parseFloat(Math.round(calculatedValue * 100) / 100).toFixed(2);

        }
    </script>

    <div class="row">
        <div class="col-md-8 mb-5">
            <h2>What We Do</h2>
            <hr>
            <p>Using advanced machine learning and big data, we constantly provide the best prices on the martket
                according to current crime rates in your country</p>
            <p>Feel free to ask our friendly customer support for any questions you might have</p>
            <a class="btn btn-primary btn-lg" href="mailto:info@insurance-of-the-future.com">Send email &raquo;</a>
        </div>
        <div class="col-md-4 mb-5">
            <h2>Contact Us</h2>
            <hr>
            <address>
                <strong>Insurance of the future</strong>
                <br>Hardenbergstraße 32
                <br>10623 Berlin, Germany
                <br>
            </address>
            <address>
                <abbr title="Phone">P:</abbr>
                +49 123-4567
                <br>
                <abbr title="Email">E:</abbr>
                <a href="mailto:#">info@insurance-of-the-future.com</a>
            </address>
        </div>
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-md-4 mb-5" th:each="insuranceType : ${allInsuranceTypes}">
            <div class="card h-100">
                <img class="card-img-top" src="#" th:src="${insuranceType.imageUrl}">
                <div class="card-body">
                    <h4 class="card-title" th:text="${insuranceType.name}">Type</h4>
                    <p class="card-text" th:text="${insuranceType.description}">description</p>
                </div>
                <div class="card-footer">
                    <button type="button"
                            th:onclick="'javascript:setSelectedInsuranceType(\'' + ${insuranceType.id} + '\',\'' + ${insuranceType.coverageAmountBottomLimit} + '\',\'' + ${insuranceType.coverageAmountTopLimit} + '\');'"
                            class="btn btn-primary" data-toggle="modal" data-target="#calculationModal">
                        Calculate pricing
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Sasa Fajkovic 2019</p>
    </div>
</footer>

<div class="modal fade" id="calculationModal" tabindex="-1" role="dialog" aria-labelledby="calculationModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="calculationModalLabel">Insurance pricing calculator</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div>
                    <p class="text-muted text-center">Allowed values: <span id="spanCoverageBottomLimit"></span> - <span
                            id="spanCoverageTopLimit"></span></p>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend" style="margin-right: 10px;">
                        <span class="input-group-text" id="inputGroup-sizing-default">How much is it worth: </span>
                    </div>
                    <input required type="number" min="0" max="0" step="0.1" id="inputProductValue" class="form-control"
                           aria-label="Default" aria-describedby="inputGroup-sizing-default">
                </div>
                <div>
                    <p>Price: </p>
                    <h3 id="calculationResult"></h3>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button onclick="validateAndCalculate()" type="button" class="btn btn-primary">Calculate</button>
            </div>
        </div>
    </div>
</div>

</body>
</html>